<form method="post">
    ${_('Who can edit this page?')}<br/>
    <input type="radio" name="permlevel" id="permlevel0" value="0"
    %if thing.permlevel == 0:
        checked
    %endif
    /><label for="permlevel0">${_('Anyone may edit')}</label><br/>
    <input type="radio" name="permlevel" id="permlevel1" value="1"
    %if thing.permlevel == 1:
        checked
    %endif
    /><label for="permlevel1">${_('Only mods may edit')}</label><br/>
    <input type="radio" name="permlevel" id="permlevel2" value="2"
    %if thing.permlevel == 2:
        checked
    %endif
    /><label for="permlevel2">${_('Only mods may edit and view')}</label><br/>
    <input type="submit" value="${_('Save Settings')}" />
    <input type="button" value="${_('Back to Page')}"  onclick="location.href='${thing.base_url}/${c.page}'" />
</form>
