<%namespace file="utils.html" import="timestamp"/>
<%namespace file="printablebuttons.html" import="ynbutton" />

<tr class="revision reddit-moderationlog 
    %if thing._hidden:
       hidden
    %endif
    ">
    <td>
        <table>
            <tr>
                <td colspan="2">
                    <a href="/r/${thing.sr}/wiki/${thing.page}?v=${thing._id}">${_("Edit by ")}${thing._get('author', 'Unknown')} in page ${thing.page} (${timestamp(thing.date)}&nbsp;ago)</a>
                </td>
            </tr>
            %if c.is_mod:
                <tr>
                    <td><a href="#" class="revision_hide" data-revision="${thing._id}" data-baseurl="/r/${thing.sr}/wiki" data-page="${thing.page}">(Hide From Public)</a></td>
                    <td>${ynbutton(_("(Revert To Revision)"), _("Done"), "../r/%s/wiki/api/revert/%s/%s" % (thing.sr, thing._id, thing.page), callback="ReloadPage")}</td>
                </tr>
            %endif
            <tr><td colspan="2" class="revision_reason">
                ${thing._get('reason')}
            </td></tr>
        </table>
    </td>
</tr>
