<%namespace file="utils.html" import="timestamp"/>
<div class="icon-menu">
    %if len(thing.revisions):
        %for r in thing.revisions:
            <h2><a class="reddit-moderationlog" href="${thing.base_url}/${r.page}?v=${r._id}">${_("Edit by ")}${r._get('author', 'Unknown')} in page ${r.page} (${timestamp(r.date)}&nbsp;ago)
            %if r._get('_current'):
                (${_("current")})
            %endif
            </a></h2>
        %endfor
        %if thing.last:
            <h2><a href="${thing.base_url}/revisions/${c.page}?l=${thing.last}">${_("Next Page")}</a></h2>
        %endif
    %else:
        <h2>${_("There does not seem to be anything here.")}</h2>
    %endif

</div>
