<span class="infoportion">
    <span class="leftbox">
        <span class="snooimg"></span>
        <%- thing.user_type_str %><br/>
        <a href="#"><%- thing._.change %></a>
    </span>

    <span class="rightbox">
        <h2><%- thing._.inyoursubreddit %></h2>
        <dl>
            <dt><%- thing._.linkkarma %></dt>
            <dd><%- thing.sr_link_karma %></dd>
            <dt><%- thing._.subredditkarma %></dt>
            <dd><%- thing.sr_comment_karma %></dd>
        </dl>
    </span>
</span>
